@layer base, patterns, components, utils;
 @layer components {
  /* Base scrolly-rail component styles */
  scrolly-rail {
 display: flex;
 overflow-x: auto;
 overscroll-behavior-x: contain;
 scroll-snap-type: x mandatory;
 @media (prefers-reduced-motion: no-preference) {
 scroll-behavior: smooth;
}
}
}
 @layer base {
  :root {
 --text-1: #fff;
 --text-2: #fff;
 --surface-1: #fff;
 --surface-2: #fff;
 --surface-3: #fff;
 --surface-4: #fff;
 --surface-5: #fff;
 --surface-translucent: hsla(210 40% 98% / 0.8);
 --border-color: var(--surface-5);
 --border-color-subtle: var(--surface-4);
 --border-color-highlight: var(--surface-3);
 --scrollbar-color: var(--text-2) var(--surface-3);
 --space-xs: 0;
 --space-s: 0;
 --space-m: 0;
 --space-l: 0;
 --space-xl: 0;
 --ease-out-quart: cubic-bezier(0.25, 1, 0.5, 1);
 --ease-out-back: cubic-bezier(0.34, 1.56, 0.64, 1);
}
* {
	box-sizing: border-box;
	margin: 0;
}


  :where(ul, ol)[role="list"] {
 list-style: none;
 padding-inline-start: unset;
}
}
 @layer utils {
 .visually-hidden {
 clip: rect(0 0 0 0);
 clip-path: inset(50%);
 height: 1px;
 overflow: hidden;
 position: absolute;
 white-space: nowrap;
 width: 1px;
}
}
 @layer patterns {
 .layout-stack > * + * {
 margin-block-start: var(--stack-space, 1rem);
}
.layout-layer {
	display: grid;
	grid-template-areas: "box";
 > * {
 grid-area: box;
}
}
}
 @layer components {
 .icon {
 --_size: var(--icon-size, 1em);
 width: var(--_size);
 height: var(--_size);
}
/* Custom component styles */
scrolly-rail {
 --_block-gutter: var(--space-m);
 --_inline-gutter: var(--space-l);
	scroll-padding-inline-start: var(--_inline-gutter);
	scrollbar-color: var(--scrollbar-color);
	padding-inline: var(--_inline-gutter);
	padding-block: var(--_block-gutter);
    margin-block: calc(var(--_block-gutter) * -1);
}
.btn-scrolly-rail {
 --icon-size: 1rem;
 --x-offset-direction: 1;
 --_size: calc(var(--icon-size, 1rem) * 2);
 --_x-offset: calc(6px * var(--x-offset-direction));
	position: relative;
	overflow: hidden;
	display: grid;
	place-items: center;
	place-content: center;
	inline-size: var(--_size);
	block-size: var(--_size);
	color: var(--border-color);
	border: 1px solid currentcolor;
	background: var(--surface-translucent);
	backdrop-filter: blur(2px);
	cursor: pointer;
	touch-action: manipulation;
 .icon {
 transition: translate 300ms var(--ease-out-back);
}
 &:not([data-bound]):active .icon {
 translate: calc(-10% * var(--x-offset-direction)) 0;
}
}
.btn-scrolly-rail[class*="animate"] {
	transition: 225ms var(--ease-out-quart);
}
.btn-scrolly-rail.animate-fade {
	transition-property: border-color, color, box-shadow;
 &[data-bound] {
 color: var(--surface-4);
 box-shadow: none;
}
}
.btn-scrolly-rail.animate-appearance {
	transition-property: display, opacity, translate, scale;
	transition-behavior: allow-discrete;
 &[data-bound] {
 display: none;
 opacity: 0;
 scale: 0.5;
}
 @starting-style {
 opacity: 0;
 translate: var(--_x-offset) 0;
 .icon {
 translate: calc(100% * var(--x-offset-direction)) 0;
}
}
}
x-card {
	position: relative;
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 0.5rem;
	padding: 0 0 1.5rem 0;
}
.content {
	display: grid;
}
}
.meta {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(min(8rem, 100%), 1fr));
	justify-items: start;
 .role {
 grid-column: 1 / -1;
}
}
}
}
main {
 --stack-space: var(--space-xl);
	margin-block: auto;
	padding-block: var(--space-xl) var(--space-m);
}
.collection-list {
	display: flex;
}
.collection-list > li {
	display: grid;
	scroll-snap-align: start;
}
.placeholder-item {
	display: grid;
	place-items: center;
	padding: 1rem;
	inline-size: 8rem;
	aspect-ratio: 4 / 5;
}
.scrolly-rail-controls {
 --stack-space: var(--space-s);
	display: flex;
	gap: var(--space-s);
	inline-size: fit-content;
	margin-inline: auto;
}
.btn-scrolly-rail--previous {
	margin-inline-start: var(--control-margin-offset);
}
.btn-scrolly-rail--next {
 --x-offset-direction: -1;
	margin-inline-end: var(--control-margin-offset);
}
}
